/* admin.CSS 4.04 Apr 2017 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.admin-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.admin-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.admin-image{max-width:100%;height:auto}img{margin-bottom:-5px}a{color:inherit}
.admin-table,.admin-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.admin-table-all{border:1px solid #ccc}
.admin-bordered tr,.admin-table-all tr{border-bottom:1px solid #ddd}.admin-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.admin-table-all tr:nth-child(odd){background-color:#fff}.admin-table-all tr:nth-child(even){background-color:#f1f1f1}
.admin-hoverable tbody tr:hover,.admin-ul.admin-hoverable li:hover{background-color:#ccc}.admin-centered tr th,.admin-centered tr td{text-align:center}
.admin-table td,.admin-table th,.admin-table-all td,.admin-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.admin-table th:first-child,.admin-table td:first-child,.admin-table-all th:first-child,.admin-table-all td:first-child{padding-left:16px}
.admin-btn,.admin-button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.admin-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.admin-btn,.admin-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.admin-disabled,.admin-btn:disabled,.admin-button:disabled{cursor:not-allowed;opacity:0.3}.admin-disabled *,:disabled *{pointer-events:none}
.admin-btn.admin-disabled:hover,.admin-btn:disabled:hover{box-shadow:none}
.admin-badge,.admin-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.admin-badge{border-radius:50%}
.admin-ul{list-style-type:none;padding:0;margin:0}.admin-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.admin-ul li:last-child{border-bottom:none}
.admin-tooltip,.admin-display-container{position:relative}.admin-tooltip .admin-text{display:none}.admin-tooltip:hover .admin-text{display:inline-block}
.admin-ripple:active{opacity:0.5}.admin-ripple{transition:opacity 0s}
.admin-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.admin-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.admin-dropdown-click,.admin-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.admin-dropdown-hover:hover .admin-dropdown-content{display:block;z-index:1}
.admin-dropdown-hover:first-child,.admin-dropdown-click:hover{background-color:#ccc;color:#000}
.admin-dropdown-hover:hover > .admin-button:first-child,.admin-dropdown-click:hover > .admin-button:first-child{background-color:#ccc;color:#000}
.admin-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0}
.admin-check,.admin-radio{width:24px;height:24px;position:relative;top:6px}
.admin-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.admin-bar-block .admin-dropdown-hover,.admin-bar-block .admin-dropdown-click{width:100%}
.admin-bar-block .admin-dropdown-hover .admin-dropdown-content,.admin-bar-block .admin-dropdown-click .admin-dropdown-content{min-width:100%}
.admin-bar-block .admin-dropdown-hover .admin-button,.admin-bar-block .admin-dropdown-click .admin-button{width:100%;text-align:left;padding:8px 16px}
.admin-main,#main{transition:margin-left .4s}
.admin-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.admin-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.admin-bar{width:100%;overflow:hidden}.admin-center .admin-bar{display:inline-block;width:auto}
.admin-bar .admin-bar-item{padding:8px 16px;float:left;width:auto;border:none;outline:none;display:block}
.admin-bar .admin-dropdown-hover,.admin-bar .admin-dropdown-click{position:static;float:left}
.admin-bar .admin-button{white-space:normal}
.admin-bar-block .admin-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;outline:none;white-space:normal;float:none}
.admin-bar-block.admin-center .admin-bar-item{text-align:center}.admin-block{display:block;width:100%}
.admin-responsive{overflow-x:auto}
.admin-container:after,.admin-container:before,.admin-panel:after,.admin-panel:before,.admin-row:after,.admin-row:before,.admin-row-padding:after,.admin-row-padding:before,
.admin-cell-row:before,.admin-cell-row:after,.admin-clear:after,.admin-clear:before,.admin-bar:before,.admin-bar:after{content:"";display:table;clear:both}
.admin-col,.admin-half,.admin-third,.admin-twothird,.admin-threequarter,.admin-quarter{float:left;width:100%}
.admin-col.s1{width:8.33333%}.admin-col.s2{width:16.66666%}.admin-col.s3{width:24.99999%}.admin-col.s4{width:33.33333%}
.admin-col.s5{width:41.66666%}.admin-col.s6{width:49.99999%}.admin-col.s7{width:58.33333%}.admin-col.s8{width:66.66666%}
.admin-col.s9{width:74.99999%}.admin-col.s10{width:83.33333%}.admin-col.s11{width:91.66666%}.admin-col.s12{width:99.99999%}
@media (min-width:601px){.admin-col.m1{width:8.33333%}.admin-col.m2{width:16.66666%}.admin-col.m3,.admin-quarter{width:24.99999%}.admin-col.m4,.admin-third{width:33.33333%}
.admin-col.m5{width:41.66666%}.admin-col.m6,.admin-half{width:49.99999%}.admin-col.m7{width:58.33333%}.admin-col.m8,.admin-twothird{width:66.66666%}
.admin-col.m9,.admin-threequarter{width:74.99999%}.admin-col.m10{width:83.33333%}.admin-col.m11{width:91.66666%}.admin-col.m12{width:99.99999%}}
@media (min-width:993px){.admin-col.l1{width:8.33333%}.admin-col.l2{width:16.66666%}.admin-col.l3{width:24.99999%}.admin-col.l4{width:33.33333%}
.admin-col.l5{width:41.66666%}.admin-col.l6{width:49.99999%}.admin-col.l7{width:58.33333%}.admin-col.l8{width:66.66666%}
.admin-col.l9{width:74.99999%}.admin-col.l10{width:83.33333%}.admin-col.l11{width:91.66666%}.admin-col.l12{width:99.99999%}}
.admin-content{max-width:980px;margin:auto}.admin-rest{overflow:hidden}
.admin-cell-row{display:table;width:100%}.admin-cell{display:table-cell}
.admin-cell-top{vertical-align:top}.admin-cell-middle{vertical-align:middle}.admin-cell-bottom{vertical-align:bottom}
.admin-hide{display:none!important}.admin-show-block,.admin-show{display:block!important}.admin-show-inline-block{display:inline-block!important}
@media (max-width:600px){.admin-modal-content{margin:0 10px;width:auto!important}.admin-modal{padding-top:30px}
.admin-dropdown-hover.admin-mobile .admin-dropdown-content,.admin-dropdown-click.admin-mobile .admin-dropdown-content{position:relative}
.admin-hide-small{display:none!important}.admin-mobile{display:block;width:100%!important}.admin-bar-item.admin-mobile,.admin-dropdown-hover.admin-mobile,.admin-dropdown-click.admin-mobile{text-align:center}
.admin-dropdown-hover.admin-mobile,.admin-dropdown-hover.admin-mobile .admin-btn,.admin-dropdown-hover.admin-mobile .admin-button,.admin-dropdown-click.admin-mobile,.admin-dropdown-click.admin-mobile .admin-btn,.admin-dropdown-click.admin-mobile .admin-button{width:100%}}
@media (max-width:768px){.admin-modal-content{width:500px}.admin-modal{padding-top:50px}}
@media (min-width:993px){.admin-modal-content{width:900px}.admin-hide-large{display:none!important}.admin-sidebar.admin-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.admin-hide-medium{display:none!important}}
@media (max-width:992px){.admin-sidebar.admin-collapse{display:none}.admin-main{margin-left:0!important;margin-right:0!important}}
.admin-top,.admin-bottom{position:fixed;width:100%;z-index:1}.admin-top{top:0}.admin-bottom{bottom:0}
.admin-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.admin-display-topleft{position:absolute;left:0;top:0}.admin-display-topright{position:absolute;right:0;top:0}
.admin-display-bottomleft{position:absolute;left:0;bottom:0}.admin-display-bottomright{position:absolute;right:0;bottom:0}
.admin-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.admin-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.admin-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.admin-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.admin-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.admin-display-container:hover .admin-display-hover{display:block}.admin-display-container:hover span.admin-display-hover{display:inline-block}.admin-display-hover{display:none}
.admin-display-position{position:absolute}
.admin-circle{border-radius:50%}
.admin-round-small{border-radius:2px}.admin-round,.admin-round-medium{border-radius:4px}.admin-round-large{border-radius:8px}.admin-round-xlarge{border-radius:16px}.admin-round-xxlarge{border-radius:32px}
.admin-row-padding,.admin-row-padding>.admin-half,.admin-row-padding>.admin-third,.admin-row-padding>.admin-twothird,.admin-row-padding>.admin-threequarter,.admin-row-padding>.admin-quarter,.admin-row-padding>.admin-col{padding:0 8px}
.admin-container,.admin-panel{padding:0.01em 16px}.admin-panel{margin-top:16px;margin-bottom:16px}
.admin-code,.admin-codespan{font-family:Consolas,"courier new";font-size:16px}
.admin-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.admin-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.admin-card,.admin-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.admin-card-4,.admin-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.admin-spin{animation:admin-spin 2s infinite linear}@keyframes admin-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.admin-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.admin-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.admin-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.admin-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.admin-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.admin-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.admin-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.admin-animate-input{transition:width 0.4s ease-in-out}.admin-animate-input:focus{width:100%!important}
.admin-opacity,.admin-hover-opacity:hover{opacity:0.60}.admin-opacity-off,.admin-hover-opacity-off:hover{opacity:1}
.admin-opacity-max{opacity:0.25}.admin-opacity-min{opacity:0.75}
.admin-greyscale-max,.admin-grayscale-max,.admin-hover-greyscale:hover,.admin-hover-grayscale:hover{filter:grayscale(100%)}
.admin-greyscale,.admin-grayscale{filter:grayscale(75%)}.admin-greyscale-min,.admin-grayscale-min{filter:grayscale(50%)}
.admin-sepia{filter:sepia(75%)}.admin-sepia-max,.admin-hover-sepia:hover{filter:sepia(100%)}.admin-sepia-min{filter:sepia(50%)}
.admin-tiny{font-size:10px!important}.admin-small{font-size:12px!important}.admin-medium{font-size:15px!important}.admin-large{font-size:18px!important}
.admin-xlarge{font-size:24px!important}.admin-xxlarge{font-size:36px!important}.admin-xxxlarge{font-size:48px!important}.admin-jumbo{font-size:64px!important}
.admin-left-align{text-align:left!important}.admin-right-align{text-align:right!important}.admin-justify{text-align:justify!important}.admin-center{text-align:center!important}
.admin-border-0{border:0!important}.admin-border{border:1px solid #ccc!important}
.admin-border-top{border-top:1px solid #ccc!important}.admin-border-bottom{border-bottom:1px solid #ccc!important}
.admin-border-left{border-left:1px solid #ccc!important}.admin-border-right{border-right:1px solid #ccc!important}
.admin-topbar{border-top:6px solid #ccc!important}.admin-bottombar{border-bottom:6px solid #ccc!important}
.admin-leftbar{border-left:6px solid #ccc!important}.admin-rightbar{border-right:6px solid #ccc!important}
.admin-section,.admin-code{margin-top:16px!important;margin-bottom:16px!important}
.admin-margin{margin:16px!important}.admin-margin-top{margin-top:16px!important}.admin-margin-bottom{margin-bottom:16px!important}
.admin-margin-left{margin-left:16px!important}.admin-margin-right{margin-right:16px!important}
.admin-padding-small{padding:4px 8px!important}.admin-padding{padding:8px 16px!important}.admin-padding-large{padding:12px 24px!important}
.admin-padding-16{padding-top:16px!important;padding-bottom:16px!important}.admin-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.admin-padding-32{padding-top:32px!important;padding-bottom:32px!important}.admin-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.admin-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.admin-left{float:left!important}.admin-right{float:right!important}
.admin-button:hover{color:#000!important;background-color:#ccc!important}
.admin-transparent,.admin-hover-none:hover{background-color:transparent!important}
.admin-hover-none:hover{box-shadow:none!important}
/* Colors */
.admin-amber,.admin-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.admin-aqua,.admin-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.admin-blue,.admin-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.admin-light-blue,.admin-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.admin-brown,.admin-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.admin-cyan,.admin-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.admin-blue-grey,.admin-hover-blue-grey:hover,.admin-blue-gray,.admin-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.admin-green,.admin-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.admin-light-green,.admin-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.admin-indigo,.admin-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.admin-khaki,.admin-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.admin-lime,.admin-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.admin-orange,.admin-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.admin-deep-orange,.admin-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.admin-pink,.admin-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.admin-purple,.admin-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.admin-deep-purple,.admin-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.admin-red,.admin-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.admin-sand,.admin-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.admin-teal,.admin-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.admin-yellow,.admin-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.admin-white,.admin-hover-white:hover{color:#000!important;background-color:#fff!important}
.admin-black,.admin-hover-black:hover{color:#fff!important;background-color:#000!important}
.admin-grey,.admin-hover-grey:hover,.admin-gray,.admin-hover-gray:hover{color:#000!important;background-color:#bbb!important}
.admin-light-grey,.admin-hover-light-grey:hover,.admin-light-gray,.admin-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.admin-dark-grey,.admin-hover-dark-grey:hover,.admin-dark-gray,.admin-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.admin-pale-red,.admin-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.admin-pale-green,.admin-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.admin-pale-yellow,.admin-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.admin-pale-blue,.admin-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.admin-text-red,.admin-hover-text-red:hover{color:#f44336!important}
.admin-text-green,.admin-hover-text-green:hover{color:#4CAF50!important}
.admin-text-blue,.admin-hover-text-blue:hover{color:#2196F3!important}
.admin-text-yellow,.admin-hover-text-yellow:hover{color:#ffeb3b!important}
.admin-text-white,.admin-hover-text-white:hover{color:#fff!important}
.admin-text-black,.admin-hover-text-black:hover{color:#000!important}
.admin-text-grey,.admin-hover-text-grey:hover,.admin-text-gray,.admin-hover-text-gray:hover{color:#757575!important}
.admin-text-amber{color:#ffc107!important}
.admin-text-aqua{color:#00ffff!important}
.admin-text-light-blue{color:#87CEEB!important}
.admin-text-brown{color:#795548!important}
.admin-text-cyan{color:#00bcd4!important}
.admin-text-blue-grey,.admin-text-blue-gray{color:#607d8b!important}
.admin-text-light-green{color:#8bc34a!important}
.admin-text-indigo{color:#3f51b5!important}
.admin-text-khaki{color:#b4aa50!important}
.admin-text-lime{color:#cddc39!important}
.admin-text-orange{color:#ff9800!important}
.admin-text-deep-orange{color:#ff5722!important}
.admin-text-pink{color:#e91e63!important}
.admin-text-purple{color:#9c27b0!important}
.admin-text-deep-purple{color:#673ab7!important}
.admin-text-sand{color:#fdf5e6!important}
.admin-text-teal{color:#009688!important}
.admin-text-light-grey,.admin-hover-text-light-grey:hover,.admin-text-light-gray,.admin-hover-text-light-gray:hover{color:#f1f1f1!important}
.admin-text-dark-grey,.admin-hover-text-dark-grey:hover,.admin-text-dark-gray,.admin-hover-text-dark-gray:hover{color:#3a3a3a!important}
.admin-border-red,.admin-hover-border-red:hover{border-color:#f44336!important}
.admin-border-green,.admin-hover-border-green:hover{border-color:#4CAF50!important}
.admin-border-blue,.admin-hover-border-blue:hover{border-color:#2196F3!important}
.admin-border-yellow,.admin-hover-border-yellow:hover{border-color:#ffeb3b!important}
.admin-border-white,.admin-hover-border-white:hover{border-color:#fff!important}
.admin-border-black,.admin-hover-border-black:hover{border-color:#000!important}
.admin-border-grey,.admin-hover-border-grey:hover,.admin-border-gray,.admin-hover-border-gray:hover{border-color:#bbb!important}
