.font-size-22{
     font-size: 22px;
}

.width-25{
     width: 25px !important;
}

.style-menu{
     position: relative;
     top: -4px;
     font-size: 17px;
}

.arrow-style{
     right: 0px !important;
     margin-top: -10px  !important;
     font-size: 18px;
}

.fixed{
     position: fixed !important
}

.width-full{
     width: 100%;
}

.height-583-min{
     min-height: 583px !important;
}

.margin-top-45{
     margin-top: 45px;
}

.margin-top-10{
     margin-top: 10px;
}

.bg-admin{
     background: #33444d;
}

.margin-left-13{
     margin-left: 13px;
}

table th{
     text-align: center;
}

.pos-button{
     margin-left: 10px;
     margin-top: 15px;
     margin-bottom: 0px;
}

.margin-right-5{
     margin-right: 5px;
}

.search-right{
     float: right !important;
     width: 230px !important;
     right: 11px !important;
     top: 15px !important;
}

/* Create three columns of equal width */
.kolom{
    float: left;
    width: 33.3%;
    padding: 8px;
}

/* Style the list */
.harga{
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* Add shadows on hover */
.harga:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.harga .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

/* List items */
.harga li {
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-align: center;
}

/* Grey list item */
.harga .grey {
    background-color: #eee;
    font-size: 20px;
}

/* The "Sign Up" button */
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
    .kolom {
        width: 100%;
    }
}

.custom-fa{
     font-size: 20px;
     position: relative;
     top: 3px;
     right: 3px;
}

.right-close{
     padding: 0px 5px !important;
     margin-top: 5px !important;
     margin-right: 4px !important;
}

.right-back{
     float: right !important;
     margin: 20px 0;
}
