body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}

h3, h4 {
    /*margin: 10px 0 30px 0;
    letter-spacing: 10px;*/
    font-size: 20px;
    color: #111;
}
.container {
    /*padding: 80px 120px;*/
    padding: 113px 120px;
}
.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.person:hover {
    border-color: #f1f1f1;
}
.carousel-inner img {
    /*-webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */*/
    width: 100%; /* Set width to 100% */
    margin: auto
}
.carousel-caption h3 {
    color: #fff !important;
}
@media (max-width: 600px) {
 .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
 }
}
.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail p {
    margin-top: 15px;
    color: #555;
}
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}
.modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}
.modal-header, .modal-body {
    padding: 40px 50px;
}
.nav-tabs li a {
    color: #777;
}
#googleMap {
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 12px !important;
    letter-spacing: 6px;
    /*opacity: 0.9;*/
}
.navbar li a, .navbar .navbar-brand {
    color: #000 !important;
}
.navbar-nav li a:hover {
    /*color: #fff !important;*/
    color: #000 !important;
    border-top: 2px solid black;
    box-sizing: border-box;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: rgba(240, 157, 0, 0.85) !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.open .dropdown-toggle {
    color: #fff !important;
    background-color: rgb(68, 68, 68) !important;
}
.dropdown-menu li a {
    color: #000 !important;
}
.dropdown-menu li a:hover {
    background-color: red !important;
}
footer {
    background-color: #444;
    color: #f5f5f5;
    padding: 1px;
}
footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}
.form-control {
    border-radius: 0;
}

.height-704{
     height: 704px;
}

#loading{
  width : 200px;
  height : 200px;
  border-radius: 50%;
  background-image: url("../images/loading3.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: calc(50vw - 100px);
  margin-top : calc(50vh - 100px);
  position: fixed;
  z-index: 9999;
  box-shadow: 0px 0px 20px #ff0505;
  display: none
}

.hidden{
     display: none;
}

#logo{
  width : 180px;
  height : 105px;
  background-image: url("../images/logo.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: fixed;
  margin-top: -13px;
  margin-left: 10px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
     -webkit-appearance: none !important;
     margin: 0 !important;
}

input[type=number] {
     -moz-appearance:textfield !important;
}

.padding-5{
     padding: 5px !important;
}

.right-0{
     top: 0px !important;
     right: 0px !important;
     font-size: 25px;
     color: #000 !important;
     background-color: inherit;
}

.top-15{
     top: 15px !important;
}

.bs-100{
      width: 1365px !important;
      height: 635px !important;
}

.color-header{
     /*background-color: rgb(91, 91, 91);*/
     background-color: rgba(153, 7, 7, 0.75);
}

.border-top-5{
     border-top: 5px solid rgba(153, 7, 7, 0.89);
}

.up-arrow{
     background: #fff;
     padding: 15px;
     border-radius: 5px;
     position: relative;
     top: 19px;
}

.copyright-style{
     text-align: left;
     top: -18px;
     position: relative;
     padding-left: 20px;
     padding-top: 10px;
     width: 250px;
}
