.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    background-color: #f9f9f9;
}

.btn-user{
     padding:10px 45px;
     background-color: #449d44;
	text-transform:uppercase;
	font-size:15px;
	font-weight:600;
	color:#fff;
	border:0;
	box-shadow: inset 0 -5px 1px rgba(0,0,0,0.3);
}

.btn-user:hover,
.btn-user:active{
     background-color: #609c60;
     color: #ffffff;
}

.btn-user:focus{
     color: #fff;
}

.width-370{
      width: 370px;
}

.padding-28{
      padding: 28px !important;
}

.padding-10-11{
     padding: 10px 11px !important;
}

.padding-left-59{
     padding-left: 59px;
}

.padding-left-20{
     margin: 20px;
}

.margin-top-10{
     margin-top: 10px;
}

.reset-padding{
     padding: 55px 0px !important;
}

.form-size{
     width: 40%;
     margin: 0 auto;
}
