input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
     -webkit-appearance: none !important;
     margin: 0 !important;
}

input[type=number] {
     -moz-appearance:textfield !important;
}

.padding-5{
     padding: 5px !important;
}

.right-0{
     top: 0px !important;
     right: 0px !important;
     font-size: 25px;
     color: #000 !important;
     background-color: inherit;
}

.top-15{
     top: 15px !important;
}

.bs-100{
      width: 1365px !important;
      height: 635px !important;
}

.color-header{
     /*background-color: rgb(91, 91, 91);*/
     background-color: rgba(153, 7, 7, 0.75);
}

.border-top-5{
     border-top: 5px solid rgba(153, 7, 7, 0.89);
}

.color-dropdown:focus{
     background-color: #fff !important;
}

li.red a:hover{
     background-color: rgba(240, 157, 0, 0.85) !important;
}

.form-olah{
     margin-left: 20px;
}

.frame{
     width: 280px;
     height: 300px;
     border: 2px solid black;
     margin-left: 90px;
     margin-bottom: 20px;
}

.margin-col4{
     margin-left: 50px;
     margin-bottom: 10px;
     margin-right: 20px;
}

.margin-col6{
     margin-left: 10px;
}

.foto_akun{
     width: 100%;
     height: 85%;
}

.upload{
     border-top:3px solid black;
}

.mt-10{
     margin-top: 4px;
     margin-left: 100px;
     padding: 5px;
}
