/* Create three columns of equal width */
.kolom{
    float: left;
    width: 27.3%;
    padding: 8px;
    margin-left: 50px;
}

/* Style the list */
.harga{
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.white{
	background: #fff;
	color: #000;
}

.white li{
	border-bottom: 1px solid rgb(242, 242, 242);
}
/* Add shadows on hover */
.harga:hover {
    box-shadow: 0 8px 12px 0 rgb(0,0,0);
}

.inside{
	margin: 0 auto;
}

/* Pricing header */
.harga .header {
    background: rgba(240, 157, 0, 0.85);
    color: white;
    font-size: 40px;
    padding: 3px;
}

.yellow{
	background: rgba(240, 157, 0, 0.85);
	color: #fff;
     font-size: 25px;
}

/* List items */
.harga li {
    padding: 10px;
    text-align: center;
}

/* Grey list item */
.harga .grey {
    background-color: #eee;
    font-size: 20px;
}

/* The "Sign Up" button */
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
    .kolom {
        width: 100%%;
    }
}

.pag{
	margin-left: 45%;
     clear: both;
}

.price{
     background-color: #333333;
     padding: 3px !important;
}
