input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
     -webkit-appearance: none !important;
     margin: 0 !important;
}

input[type=number] {
     -moz-appearance:textfield !important;
}

.padding-5{
     padding: 5px !important;
}

.right-0{
     top: 0px !important;
     right: 0px !important;
     font-size: 25px;
     color: #000 !important;
     background-color: inherit;
}

.top-15{
     top: 15px !important;
}

.bs-100{
      width: 1365px !important;
      height: 635px !important;
}

.color-header{
     /*background-color: rgb(91, 91, 91);*/
     background-color: rgb(255, 255, 255) !important;
     opacity: 0px;
}

.border-top-5{
     border-top: 5px solid rgba(153, 7, 7, 0.89);
}

#loading{
  width : 200px;
  height : 200px;
  border-radius: 50%;
  background-image: url("../images/loading3.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: calc(50vw - 100px);
  margin-top : calc(50vh - 100px);
  position: fixed;
  z-index: 9999;
  box-shadow: 0px 0px 20px #ff0505;
  display: none;
}

.hidden{
     display: none;
}

textarea {
    resize: none;
}
